<?xml version="1.0"?>
<model>
  <name>Shelfino</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Placido Falqueto</name>
   <email>placido.falqueto@unitn.it</email>
  </author>

  <description>
    Mobile Robot of the University of Trento.
  </description>
</model>
